Q.1 :-  Create a python program to sort the given list of tuples based on integer value using a
lambda function.


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
# Given list of tuples
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sorting the list based on the integer value using a lambda function
sorted_data = sorted(data, key=lambda x: x[1])

# Displaying the sorted list
for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q.2 :-  Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: x**2 , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.3 :-  Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
l1 = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x : str(x) , l1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q.4 :-  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25

In [12]:
from functools import reduce

# Define a function to compute the product of two numbers
def multiply(x, y):
    return x * y

# Create a list containing numbers from 1 to 25
numbers = list(range(1, 26))

# Use the reduce function to compute the product of the list of numbers
product = reduce(multiply, numbers)

# Print the product
print("The product of numbers from 1 to 25 is:", product)

The product of numbers from 1 to 25 is: 15511210043330985984000000

Q.5 :-  Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
l2 = [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x : x%2==0 and x%3==0 ,l2))

[6, 60, 90, 120]

Q.6 :-  Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']

In [20]:
# List of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Filter palindromes using filter and lambda function
palindromes = list(filter(lambda x: x == x[::-1], strings))

# Print the palindromes
print("Palindromes in the list:", palindromes)

Palindromes in the list: ['php', 'aba', 'radar', 'level']